requests==2.21.0
click==7.1.2
ete3==3.1.2
numpy==1.17.3
pandas==0.25.2
scipy==1.3.3
networkx==2.5
gseapy==0.10.3
aiohttp==3.6.0
XlsxWriter
git+https://github.com/marekborowiec/AMAS@7a127d1#egg=amas

# Optional
uvloop
pygraphviz